name: Sec pipelines for java + maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml

  validation:
    name: "Sec Scanner"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - name: Self sast-scan
        uses: AppThreat/sast-scan-action@v1.0.0
        with:
          output: reports
          type: java,bash
      - name: Upload scan reports
        uses: actions/upload-artifact@v1.0.0
        with:
          name: sast-scan-reports
          path: reports
      - name: Self dep-scan
        uses: AppThreat/dep-scan-action@master
        env:
          VULNDB_HOME: ${{ github.workspace }}/db
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}:[]
      - name:  zap-baseline
          uses: owasp/zap2docker-stable
